:root {
    --green: #52A441;
    --slate: #414141;
    --white: #FFFFFF;
    --offwhite: #e7e7e7;
    --grey: #666666;
    --stone: #CDCDCD;
    --dark-grey: #1C1C1C;

    --primary-background: #f5f5f5;
    --secondary: #414141;
    --highlights: #52A441;
    --dark-highlights: #2f442b;
    --text: #414141;
    --danger: #835454;
    --dark-danger: #472929;
    --border: #666666;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--primary-background);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	overflow:hidden;
}

.NavBar {
    background-color: var(--highlights);
    padding: 5px;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 1vw;
    padding-right: 1vw;
}

#shieldtec-title-border {
    outline: solid 2px var(--white);
    padding: 10px;
    color: var(--white);
}

#shieldtec-title {
    color: var(--white);
    text-decoration: none;
    font-size: large;
}

#shieldtec-logo {
    margin-right: 1.5vw;
}

#murdoch-logo {
    margin-right: 0.2vw;
}

#discipline-of-it {
    margin-right: 1.5vw;
    text-align: center;
}

#train-delete-row {
    margin-right: 20px !important;
    padding-right: 0px !important;
}

#train-delete {
    display: flex;
    align-self: flex-end;
    margin: 0 !important;
    padding: 0 !important;
    border: solid 1px var(--slate);
}

#search-row {
    margin-right: 20px !important;
}

#annotation-area {
    padding-top: 15px;
    background-color: var(--primary-background);
    padding-bottom: 50vw;
    display: flex;
}

#gallery-container {
    height: 33vw;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100% !important;
    margin: 0px !important;
    padding-right: 20px !important;
    padding-left: 0px !important;
}

#image-gallery{
    background-color: var(--primary-background);
    width: max-content !important;
    padding-bottom: 30px !important;
}

#labels{
    background-color: var(--primary-background);
    color: var(--text);
}

#thumbnail-sidepanel {
    margin-top: 10px;
 }

.thumbnail {
    width: auto !important;
    margin: 0px !important;
    padding: 0px !important;
    border: solid 1px var(--slate);
    border-top-width: 0;
}

.highlighted-thumbnail {
    box-shadow: 0 0 0 2px var(--green) inset;
}

.top-thumbnail {
    border-top-width: 1px;
}

.right-thumbnail {
    border-left-width: 0;
}

.thumbnail-row {
    margin: 0px !important;
    padding: 0px !important;
    /*display: inline-block !important;*/
    width: max-content !important;
}

.thumbnail-image {
    width: 90%;
    height: 100%;
    object-fit: scale-down;
}

.thumbnail-label {
    user-select: none;
    width: 11vw;
    height: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-radio {
    display: none;
}

#image-annotator{
    background-color: var(--primary-background);
    padding: 0 !important;
    padding-left: 0.5vw !important;
    padding-right: 0.5vw !important;
}

#tool {
    width: 100%;
}

#toolbar {
    display: flex;
    justify-content: space-between;
    color: var(--text);
}

.toolbar-buttons {
    user-select: none;
    background-color: var(--white);
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
}

.toolbar-buttons label, .toolbar-buttons select {
    display: inline-flex;
    padding: 1vh 1vw;
    box-shadow: 0 0 0  1px var(--border);
    background-color: var(--white);
    cursor: pointer;
    color: var(--text);
    white-space: nowrap;
    text-overflow: ellipsis;
}

#annotation-buttons {
    width: auto;
    display: inline-flex;
}

#clear-button-label {
    background-color: var(--danger);
    color: var(--white);
}

#save-label {
    background-color: var(--highlights);
    color: var(--white);
}

#save-label:hover {
    box-shadow: 3px 3px 0 var(--dark-highlights) inset;
}

.saved-label {
    background-color: var(--white) !important;
    color: var(--text) !important;
}

.saved-label:hover {
    box-shadow: none !important;
}

.toolbar-buttons label:hover, #select-multiple-label:hover, #logout-button:hover, #setting-button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 0 var(--highlights) inset;
}

#clear-button-label:hover {
    box-shadow: 3px 3px 0 var(--dark-danger) inset;
}

.toolbar-buttons label:active {
    background-color: black;
    transition-duration: 0.3s;
}

#training-button, #tuning-button, #status-button {
    display: block;
    text-align: center;
    border-radius: 0;
    color: var(--text);
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #52A441, #185a0b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--white) inset;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow:ellipsis;
}

#training-button:hover, #tuning-button:hover, #status-button:hover {
    box-shadow: 2px 1000px 1px var(--dark-highlights) inset;
    color: var(--white);
}

#delete-button {
    border-radius: 0;
    display: block;
    text-align: center;
    color: var(--text);
    box-shadow: 0 0 0 1px var(--danger) inset;
    border-width: 0px;
    white-space: nowrap;
    text-overflow:ellipsis;
}

#delete-button:hover {
    box-shadow: 2px 1000px 1px var(--dark-danger) inset;
    color: var(--white);
}

#select-multiple-label, #logout-button, #setting-button {
    border-radius: 0;
    border-width: 0;
    outline: 1px solid var(--border);
    color: var(--text);
    background-color: var(--white);
}

#select-multiple-label {
    padding: 0 0.5vw;
    outline: none;
    box-shadow: 0 0 0 1px var(--border) inset;
}

#select-multiple-button {
    display: none;
}

.select-multiple-highlighted {
    background-color: var(--highlights) !important;
}

#create-class-label-input, #search-image-input {
    color: var(--text);
    box-shadow: 0 0 0 1px var(--border) inset;
    border-radius: 0;
    border-width: 0;
    white-space: nowrap;
    text-overflow:ellipsis;
}

#selectable-classes, #selectable-labels {
    width: 100%;
    height: 4vh;
    border-radius: 0px;
    outline: solid 1px var(--border);
    background-color: var(--white);
    border-width: 0;
}

.hidden-button {
    display: none;
}


.toolbar-buttons input[type="radio"]:checked + label {
    background-color: var(--highlights);
    border-color: var(--border);
}


#annotations {
	margin-left: 20px;
	height: auto;
}

#canvas-and-selection-container {
    height: 60vmin;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

#canvas-background {
    width: 100%;
    height: auto;
    background-color: var(--offwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px var(--border);
    z-index: 1;
}

#canvas-container {
    width: 100%;
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
    position: relative;
    z-index: 1;
}

#canvas-draw{
    position: relative;
    background-color: var(--white);
    z-index: 1;
}

#manageClassLabels{
    height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.accordion-body, .accordion-header, .accordion-button {
    background-color: var(--white) !important;
    color: var(--text) !important;
}

#manage-classes, #manage-labels, #manage-annotations {
    color: var(--text);
    background-color: var(--white);
}

