:root {
  --green: #52A441;
  --slate: #414141;
  --white: #FFFFFF;
  --offwhite: #e7e7e7;
  --grey: #666666;
  --stone: #CDCDCD;
  --dark-grey: #1C1C1C;

  --primary-background: #f5f5f5;
  --secondary: #414141;
  --highlights: #52A441;
  --dark-highlights: #2f442b;
  --text: #414141;
  --danger: #835454;
  --dark-danger: #472929;
  --border: #666666;
}

body {
  margin: 0 auto;
  width: 100%;
  color: var(--grey);
  background: #FFFFFF;
  font: 600 16px/18px 'Open Sans', sans-serif
}

/* disclaimer popup start */

#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}

.disclaimer-content a{
text-decoration: none;
font-weight: 600;
}

.disclaimer-content h1{
color: #303030;
}

.disclaimer{
width: 100%;
display: none;
position: absolute;
z-index: 101;
}

.disclaimer-content{
width: 70vw;
min-height: 30vw;
margin: 8vh auto;
background: #ffffff;
position: relative;
z-index: 103;
padding: 15px 35px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}

.disclaimer-content p{
clear: both;
    color: #474747;
    font-size: 16px;
    font-family: Arial;
}

.disclaimer-content u{
  clear: both;
      color: #303030;
      font-size: 20px;
      font-family: Arial;
      font-weight: 600;
  }

  #discipline-logo {
    color: var(--dark-grey);
    font-weight: 600;
  }

.disclaimer-content p span{
display: block;
}

.disclaimer-content p a{
color: #52A441;
font-weight: bold;
}

.disclaimer-content .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}

.disclaimer.content .x:hover{
cursor: pointer;
}

/* disclaimer popup end */

.scantek-logo {
  margin: -10px 0 40px 75px;  
}

#logos {
  margin-top: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#murdoch-logo {
  display: inline-flex;
}

#discipline-logo {
  display: inline-flex;
  text-align: center;
}

#shieldtec-logo {
  display: inline-flex;
}

.login-box {
  width: 100%;
  max-width: 525px;
  min-height: 590px;
  position: absolute;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 30px 0 rgba(0, 0, 0, .19);
}

.login-snip {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 40px 70px 50px 70px;
  background: var(--white);
  box-shadow: 0 0 0 5px var(--green) inset;
}

.login-snip .login,
.login-snip .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear;
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .persist-check {
  display: none
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
  text-transform: uppercase
}

.login-snip .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid;
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
  color: var(--text);
  border-color: #414141;
}

.login-space {
  min-height: 285px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-space .group {
  margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  width: 100%;
  color: #414141;
  display: block
}

.login-space .group .input,
.login-space .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: #FFFFFF;
  outline: 1px solid var(--border);
}

.login-space .group input[data-type="password"] {
  -webkit-text-security: circle
}

.login-space .group .label {
  color: #414141;
  font-size: 12px
}

#remember-me {
  margin-right: 5px;
}

.login-space .group .button {
  background: var(--dark-grey);
  color: var(--white);
}

.login-space .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(68, 68, 68, 0.5)
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all .2s ease-in-out 0s;
}

.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0)
}

.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0)
}

.login-space .group .persist-check:checked+label {
  color: var(--text);
}

.login-space .group .persist-check:checked+label .icon {
  background: #52A441;
}

.login-space .group .persist-check:checked+label .icon:before {
  transform: scale(1) rotate(45deg)
}

.login-space .group .persist-check:checked+label .icon:after {
  transform: scale(1) rotate(-45deg)
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
  transform: rotate(0)
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
  transform: rotate(0)
}

*,
:after,
:before {
  box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table
}

.clearfix:after {
  clear: both;
  display: block
}

a {
  color: inherit;
  text-decoration: none
}

.hr {
  height: 2px;
  margin: 50px 0 50px 0;
  background: rgba(255, 255, 255, .2)
}

.foot {
  text-align: center
}

.card {
  width: 500px;
  left: 50%;
  top: 50%;
  margin: 0 0 0 -237px;
}

.row {
  width: 100%;
}

::placeholder {
  color: var(--grey);
}

.annotator{
  position: relative; 
  overflow: scroll; 
  width: 1000px; 
  height: 700px;
}

#save-settings-label, #return-from-settings-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    padding: 1vh 1vw;
    box-shadow: 0 0 0  1px var(--border);
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#save-settings-label {
  background-color: var(--highlights);
  color: var(--white);
  display: block;
  width: 5vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#save-settings-label:hover {
  box-shadow: 3px 3px 0 var(--dark-highlights) inset;
  cursor: pointer;
}

#return-from-settings-label {
  background-color: var(--white);
  color: var(--text);
  margin-left: 0.5vw;
  margin-top: 1vh;
}

#return-from-settings-label:hover {
  box-shadow: 3px 3px 0 var(--dark-highlights) inset;
  cursor: pointer;
  box-shadow: 3px 3px 0 var(--highlights) inset;
}

.settings-label {
  color: var(--text);
}

#settings-form {
  margin-top: 25vh;
}